@font-face {
    font-family: aniron;
    src: url("assets/anirm___.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: albertus;
    src: url("assets/AlbertusMT.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: ringbearer;
    src: url("assets/RINGM___.TTF") format("truetype");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A120B;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    font-size: large;
    font-family: albertus;
    background-color: #1A120B;
    color: rgb(234, 194, 91);
    border: none;
    cursor: pointer;
    padding: 1rem;
}

button:hover {
    background-color: #7b7b7a;
}

button.current-tab {
    background-color: #62442c;
}

button.current-tab:hover {
    cursor: auto;
}

#content {
    flex: 1;
    display: flex;
}

.container {
    display: flex;
    flex: 1;
    position: relative;
    background-image: url("assets/food.png");
    background-size: 100% 100%;
}

.overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.titleCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #e1e1e1;
    width: 100%;
}

.titleCard h1 {
    font-size: 48px;
    font-family: aniron, monospace;
    font-weight: 400;
    border-top: 2px solid rgb(206 148 0);
    border-bottom: 2px solid rgb(206 148 0);
    padding: 0 1rem;
}

.titleCard p {
    font-size: 24px;
    font-family: albertus;
}

.menu-block {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    overflow: auto;
    height: 75%;
    font-family: albertus;
}

.menu-block::-webkit-scrollbar {
    width: 0.6em;
}

.menu-block::-webkit-scrollbar-track {
    background-color: hsl(35deg 78% 10%);
}

.menu-block::-webkit-scrollbar-thumb {
    background-color: rgb(206 148 0);
}

.menu-header {
    color: white;
    text-align: center;
    font-family: ringbearer;
    font-weight: 400;
}

.menu-header:not(:first-child) {
    margin-top: 2rem;
}

.food-item {
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px;
    background-color: #3b3b3b8a;
}

.staff-item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 150px;
    gap: 2rem;
    background-color: #3b3b3b8a;
}

.food-item:hover, .staff-item:hover {
    background-color: #7070708a;
}

.food-info, .staff-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 1rem;
}

.food-info > h2, .staff-info > h2 {
    font-weight: 400;
}

.food-description, .staff-role {
    color: #ffffffb3;
    font-size: large;
}

.food-picture, .staff-picture {
    width: 100%;
    height: 100%;
}

.contact-item {
    display: flex;
    gap: 0.5rem;
    font-size: large;
}

.footer {
    background-color: #1A120B;
    color: rgb(234, 194, 91);
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: albertus;
}

.footer a,
.footer a:visited {
    text-decoration: none;
    color: inherit;
}

.footer svg {
    transition: 0.5s;
}

.footer svg:hover {
    cursor: pointer;
    transform: rotate(360deg);
}