* {
    margin: 0;
    padding: 0
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A120B;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    font-size: large;
    background-color: #1A120B;
    color: rgb(234, 194, 91);
    border: none;
    cursor: pointer;
    padding: 1rem;
}

button:hover {
    background-color: #7b7b7a;
}

button.current-tab {
    background-color: #62442c;
}

button.current-tab:hover {
    cursor: auto;
}

#content {
    flex: 1;
    display: flex;
}

.container {
    display: flex;
    flex: 1;
    position: relative;
    background-image: url("assets/food.png");
    background-size: 100% 100%;
}

.overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.titleCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.titleCard h1 {
    font-size: 72px;
}

.titleCard p {
    font-size: 24px;
}

.menu-block {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    overflow: auto;
    height: 75%;
}

.menu-block::-webkit-scrollbar {
    width: 0.7em;
}

.menu-block::-webkit-scrollbar-track {
    background-color: hsl(35deg 78% 10%);
}

.menu-block::-webkit-scrollbar-thumb {
    background-color: hsl(37deg 74% 17%);
}

.menu-header {
    color: white;
    text-align: center;
}

.food-item {
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px;
}

.food-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.food-description {
    color: #ffffffb3;
}

.food-picture {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #1A120B;
    color: rgb(234, 194, 91);
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer a,
.footer a:visited {
    text-decoration: none;
    color: inherit;
}

.footer svg {
    transition: 0.5s;
}

.footer svg:hover {
    cursor: pointer;
    transform: rotate(360deg);
}